extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change Me :)';
    var myDescription ='Borders are use to give a promt look for the page.';
    var landingPage = 'CSS';
    var activeLink = '/css/borders';

block awesome-content
  h1=myTitle
  p=myDescription
  

