<!DOCTYPE html>
html(lang="en")
    //- - var baseURL = 'http://localhost:3000'
    - var baseURL = 'https://brettl1991.github.io/w3school-replica'
    block cool-config
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title=myTitle
        meta(name="description", content=myDescription)
        link(rel="stylesheet", href=`${baseURL}/style.css`)
    body
        include ../header/header
        article
          block awesome-content
        include ../nav/nav
        include ../footer/footer