extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code JavaScript and  JavaScript';
    var myDescription ='JavaScript is more than awesome!';
    var landingPage = 'JavaScript';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 Why Study JavaScript?
  p JavaScript is one of the 3 languages all web developers must learn:
  p 1. HTML to define the content of web pages
  p 2. CSS to specify the layout of web pages
  p 3. JavaScript to program the behavior of web pages
  p Web pages are not the only place where JavaScript is used. Many desktop and server programs use JavaScript. Node.js is the best known. Some databases, like MongoDB and CouchDB, also use JavaScript as their programming language.


