extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change Me';
    var myDescription ='You can pley with background easily. Have fun!';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 Example
  


